

########################################################

# The port exposed on the HOST MACHINE

PORT=80

########################################################

# When service start at the first time,
# will automatically create the internal
# administration account using the
# credentials below.
#
# The account will only be created if the
# admin haven't been created yet.
#
# If you changed the password below after
# the admin account been created, the password
# won't be updated.

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=your-initial-admin-password

########################################################

# The password to create the depended service
# instances and connect to them.
#
# Though they are important, if you are using docker-compose.yml
# at the root project directory, the MySQL, Redis or MinIO won't
# bind port on the host machine.
#
# We recommend you use command like:
# tr -dc 'A-Za-z0-9' < /dev/urandom | head -c 12; echo
# to generate your password.

MYSQL_PASSWORD=your-mysql-password
MINIO_ACCESS_KEY=your-minio-access-key
MINIO_SECRET_KEY=your-minio-secret-key

########################################################

# JWT Secret should be created by yourself by:
# openssl rand -base64 48
#
# AES Key should be created by yourself by:
# openssl rand -hex 16
#
# You must create them by yourself because they are very,
# very important and improper configurations can cause
# bad authorization and make your system easy to be attacked.

JWT_SECRET=your-jwt-secret-key
AES_KEY=your-32-char-aes-key

########################################################

# The external API of Web Search functionality. If you
# don't properly config this, the Web Search may not work.

BOCHA_API_KEY=your-bocha-api-key

########################################################

# You don't need to change the values below
# if you want to do the simplest setup via
# the docker-compose.yml in the project root
# directory.
#
# If you are using the docker-compose.yml at the
# root directory of the project, the MySQL,
# Redis and MinIO (RustFS) won't bind port
# on your host machine and only for the
# internal communication between the inner Docker
# services.

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=jiallo
MYSQL_USERNAME=root
REDIS_HOST=localhost
REDIS_PORT=6379
EMAIL_VERIFICATION=false
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=jiallo
API_BASE_URL=

########################################################
